{% extends 'main_app/base.html' %}

{% block content %}

<div class="about-section">
    <h1>What is PhysiVerse?</h1>

    <p class="about-text">
        PhysiVerse is an immersive and interactive virtual physics lab designed to make scientific learning easier, more engaging, and accessible to everyone.
        Instead of just reading theory, students can interact with realistic simulations that allow them to explore key physics concepts — such as
        <span>electricity, optics, and wave behavior</span> — in a flexible digital environment.
    </p>

    <p class="about-text">
        The platform empowers learners to perform hands-on experiments safely, repeat setups, test ideas, and observe real-time results.
        With PhysiVerse, physics becomes intuitive, visual, and enjoyable — bringing science to life beyond the limits of traditional classrooms.
    </p>
</div>

{% endblock %}
