{% extends 'main_app/base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <h2 class="mb-4">Edit Profile</h2>

  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_avatar" class="form-label">Avatar:</label>
        <br>
        <img src={% static profile.avatar|cut:'main_app/static' %} class="avatar" alt="">
      </div>

      <div class="mb-3">
        <label for="id_bio" class="form-label">Bio:</label>
         <br>
        {{ form.bio }}
      </div>

      <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
{% endblock %}
