{% extends 'main_app/base.html' %}
{% block content %}
    <h2>Sign Up</h2>
<div class="signup-wrapper">
  <form method="POST" enctype="multipart/form-data" class="signup-form">


    {% csrf_token %}

    <label>Username:</label>
    {{ form.username }}

    <label>Password:</label>
    {{ form.password1 }}

    <label>Confirm Password:</label>
    {{ form.password2 }}

    <label>Profile Picture:</label>
    {{ form.avatar }}

    <label>Bio:</label>
    {{ form.bio }}

    <button type="submit" class="btn w-100">Register</button>
  </form>
</div>

{% endblock %}
