{% extends 'main_app/base.html' %}
{% block content %}

<div class="signup-wrapper">
  <form method="POST" enctype="multipart/form-data" class="signup-form">

    <h2>Sign Up</h2>
    {% csrf_token %}

    <div class="form-grid">

      <div class="field">
        <label>Username</label>
        {{ form.username }}
      </div>

      <div class="field">
        <label>Password</label>
        {{ form.password1 }}
      </div>

      <div class="field">
        <label>Confirm Password</label>
        {{ form.password2 }}
      </div>

      <div class="field">
        <label>Profile Picture</label>
        {{ form.avatar }}
      </div>

      <div class="field full-width">
        <label>Bio</label>
        {{ form.bio }}
      </div>

    </div>

    <button type="submit" class="btn">Register</button>

  </form>
</div>

{% endblock %}
